<h2>Create Employee</h2>

<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-control">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>First Name:</label>
      <input type="text" id="firstName" class="form-control" placeholder="Enter first name" formControlName="firstName" [(ngModel)]="employee.firstName" required>
      <div *ngIf="employeeForm.controls['firstName'].invalid && (employeeForm.controls['firstName'].dirty || employeeForm.controls['firstName'].touched)" class="alert alert-danger">
        <div *ngIf="employeeForm.controls['firstName'].errors?.['required']">
          First Name is required.
        </div>
        <div *ngIf="employeeForm.controls['firstName'].errors?.['minlength']">
          First Name must be at least 2 characters long.
        </div>
      </div>
    </div>
    <<div class="form-group col-md-6">
      <label>Last Name:</label>
      <input type="text" id="lastName" class="form-control" placeholder="Enter last name" formControlName="lastName" [(ngModel)]="employee.lastName" required>
      <div *ngIf="employeeForm.controls['lastName'].invalid && (employeeForm.controls['lastName'].dirty || employeeForm.controls['lastName'].touched)" class="alert alert-danger">
        <div *ngIf="employeeForm.controls['lastName'].errors?.['required']">
          Last Name is required.
        </div>
        <div *ngIf="employeeForm.controls['lastName'].errors?.['minlength']">
          Last Name must be at least 2 characters long.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Email:</label>
      <input type="email" id="email" class="form-control" placeholder="Enter email" formControlName="email" [(ngModel)]="employee.email" required>
      <div *ngIf="employeeForm.controls['email'].invalid && (employeeForm.controls['email'].dirty || employeeForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="employeeForm.controls['email'].errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="employeeForm.controls['email'].errors?.['email']">
          Please enter a valid email address.
        </div>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label>Phonenumber:</label>
      <input type="text" id="phonenumber" class="form-control" placeholder="Enter phone number" formControlName="phonenumber" [(ngModel)]="employee.phonenumber" required>
      <div *ngIf="employeeForm.controls['phonenumber'].invalid && (employeeForm.controls['phonenumber'].dirty || employeeForm.controls['phonenumber'].touched)" class="alert alert-danger">
        Please enter a valid Phone Number.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Submit</button>
  <button class="btn btn-light" (click)="goBack()">Back</button>
</form>
